@import url("https://fonts.googleapis.com/css?family=Staatliches|Noto+Sans|Roboto|Sanchez");

$background-color: hsl(50, 5, 97);
$white: $background-color;
$base-font-size: 2.4em;
$base-line-height: 1.5em;

.container {
  padding: 150px;

  h1 {
    font-family: "Staatliches", cursive;
    font-size: 55px;
    padding-bottom: 20px;

    span {
      color: #0067d6;
    }
  }
}

blockquote {
  position: relative;
  font-family: "Sanchez", serif;
  font-size: $base-font-size;
  line-height: $base-line-height;

  footer {
    font-family: "Noto Sans", sans-serif;
    font-size: 0.6em;
    font-weight: 700;
    color: darken($white, 15%);
    float: right;

    &:before {
      content: "\2015";
    }
  }

  &:after {
    content: "\201D";
    position: absolute;
    top: 0.28em;
    right: 0;
    font-size: 6em;
    font-style: italic;
    color: darken($white, 7%);
    z-index: -1;
  }
}

.text {
  clear: both;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  line-height: 40px;
}
