@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu');

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2196f3;
  transition: 1s all;
}

/*
 * First slide
 */

div#name {
  width: 100vw;
  height: 100vh;

  h1 {
    width: 100vw;
    margin: 0;
    padding-top: 35vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 7vw;
    text-align: center;
    color: white;
  }

  p {
    width: 100vw;
    margin: 0;
    padding-top: 1vh;
    font-size: 2vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #5d5d5d;
  }
}

/*
 * Second slide
 */

body.about_bg {
  background-color: #2aff06;
}

div#about {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 90vh;
  padding: 5vh 10vw;
  font-family: 'Roboto', sans-serif;
  color: #2196f3;

  h2 {
    font-size: 6vh;
    line-height: 8vh;
  }

  div.middle_container {
    height: 40vh;

    p {
      padding-left: 1vw;
      font-size: 3vh;
      line-height: 6vh;
    }

    ul {
      font-size: 3vh;
      line-height: 6vh;

      li {
        width: 50%;
        float: left;
      }
    }
  }

  span {
    display: block;
    width: 4vmin;
    height: 4vmin;
    margin: auto;
    border: solid #2196f3;
    border-width: 0 1vmin 1vmin 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
